/* DEFAULT = DARK */
body {
  margin: 0;
  background-color: #0f0f0f;
  color: white;
  transition: all 0.3s ease;
}

/* LIGHT MODE */
body.light {
  background-color: #f5f5f5;
  color: black;
}

/* cards */
.product-card {
  background: #1c1c1c;
}

body.light .product-card {
  background: white;
}

